<h1>Raw Email
  <%= link_to 'Back', raw_emails_path, class: 'btn btn-primary' %>
</h1>

<hr/>

<p>
  <strong>Raw Email</strong>
</p>
<textarea class="form-control" rows="10" readonly><%= @raw_email.raw_email %></textarea>

<h1>Parsed E-Mail #<%= @raw_email.id %></h1>
<div class="table-responsive">
  <table class="table table-sm table-striped">
    <% @parsed_email['Header'].each do |raw| %>
      <tr>
        <th><%= raw[0] %></th>
        <td><%= raw[1] %></td>
      </tr>
    <% end %>
  </table>
</div>

<p>
  <strong>Body</strong>
</p>
<textarea class="form-control" rows="20" readonly><%= @parsed_email['Body'] %></textarea>

<hr/>

<%= link_to 'Back', raw_emails_path, class: 'btn btn-primary btn-block' %>
