<!DOCTYPE html>
<html>
<head>
  <title>EmailParser</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<div class="container">
  <%= render partial: 'layouts/flash_messages', flash: flash %>

  <%= yield %>
</div>
</body>
</html>
